<li id="{{libName}}" data-mainfile="{{mainFile}}">
    <div class="blf-lib-container">
        <div class="blf-lib-info">
            <span class="blf-lib-name">{{libName}} </span>
            <span class="blf-lib-lang">({{libLang}})</span>
            <span class="blf-lib-version">({{version}})</span>
            <span class="blf-lib-last-version">{{lastVersionLabel}}{{version}}</span>
        </div>
        <div class="blf-lib-buttons">
            <button type="button" class="btn blf-btn blf-btn-download" style="background:url({{downloadIconPath}}) no-repeat center;background-size:16px 16px;"></button>
            <button type="button" class="btn blf-btn blf-btn-link" style="background:url({{linkIconPath}}) no-repeat center;background-size:18px 18px;"></button>
            <button type="button" class="btn blf-btn blf-btn-versions" style="background:url({{navIconPath}}) no-repeat center;background-size:16px 16px;"></button>
        </div>
    </div>
    <div class="blf-lib-versions"></div>
</li>
