<li id="{{libName}}">
    <div class="blf-lib-container">
        <div class="blf-lib-info">
            <span class="blf-lib-name"><a class="blf-lib-desc-link" href="#">{{libName}}</a></span><br>
            <span>Type: {{libType}}</span>&emsp;
            <span class="blf-lib-hits">Hits: {{hits}}</span><br>
            <span class="blf-lib-file">({{libFile}})</span>
            <span class="blf-lib-version">({{libVersion}})</span>
            <span class="blf-lib-last-version">{{lastVersionLabel}}{{libVersion}}</span>
        </div>
        <div class="blf-lib-buttons">
            <button type="button" class="btn blf-btn blf-btn-download" style="background:url({{downloadIconPath}}) no-repeat center;background-size:16px 16px;"></button>
            <button type="button" class="btn blf-btn blf-btn-link" style="background:url({{linkIconPath}}) no-repeat center;background-size:18px 18px;"></button>
            <button type="button" class="btn blf-btn blf-btn-files" style="background:url({{filesIconPath}}) no-repeat center;background-size:16px 16px;"></button>
            <button type="button" class="btn blf-btn blf-btn-versions" style="background:url({{navIconPath}}) no-repeat center;background-size:16px 16px;"></button>
        </div>
        <div class="blf-lib-description"></div>
    </div>
    <div class="blf-lib-versions"></div>
    <div class="blf-lib-files"></div>
</li>
