.blf-filterinput {
    position:absolute;
    right:26px;
    top:20px;
}

#blf-libs {
    list-style:none;
}

#blf-libs li {
    border-bottom: 1px solid grey;
}

.blf-lib-container {
    position:relative;
    margin-top: 4px;
    margin-bottom: 4px;
}

.blf-lib-info {
    display: inline-block;
}

.blf-lib-name {
    font-size:18px;
    margin-top:7px;
}

.blf-lib-lang {
    font-size:12px;
    margin-top:11px;
}

.blf-lib-version {
    font-size:14px;
    color:#a83838;
}

.blf-lib-last-version {
    font-size:12px;
    margin-top:11px;
    display:none;
}

.blf-lib-buttons {
    display:inline-block;
    position:absolute;
    right:20px;
}

.blf-btn {
    height: 20px;
    width: 20px;
}

#blf-droparea {
    background-color:#2a2727;
    border-top:1px solid black;
}

.blf-dest-dir {
    position:absolute;
    right:4px;
    left:4px;
    bottom:4px;
    padding:2px 4px 2px 4px;
    background-color:#3c3838;
    overflow:hidden;
}

.blf-lib-description {
    margin-top: 6px;
}

.blf-lib-versions {
    margin-top: 4px;
}

.blf-lib-files {
    margin-top: 4px;
}

.blf-dir-img {
    width:20px;
    height:20px;
}

.blf-btn-cdn-nav {
    height: 30px;
    width: 30px;
}

#blf-cdn-current-page {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

.blf-lib-file {
    font-size:14px;
}
